<h1>Solve the Maze</h1>
<div class="row marketing">

	<div class="container block-container">
		<h3>Are you ready for resolve the maze?</h3>
		<button class="btn btn-primary btn-login btn-lg btn-block center-block" ng-click="executeAlgorithm()">Execute Algorithm</button>
		
		<h3>Maze:</h3>
		<div class="container-maze center-block" ng-style="{width: withCell}">
			<div id="{{$index}}" ng-repeat="cell in map.Nodes" ng-class="{'map__cell':true, 'border-right': cell.EstBlocked === true, 'border-top': cell.NorthBlocked === true, 'border-left': cell.WestBlocked === true, 'border-bottom': cell.SouthBlocked === true, 'cell-visited': cellVisitedArray.indexOf(cell.Id)>-1}">
			<div id="{{cell.Id}}"></div>
			</div>
		</div>


		<h3>Solution:</h3>
		<div class="actions-messages-container">
			<ul>
	    		<li ng-repeat="opt in solutionMessages">
	        	[{{opt.id | date: 'HH:mm:ss'}}] {{ opt.msg }}
	    		</li>
	    	</ul>	
		
		</div>
	  </div>
</div>
       

<!-- <button class="btn btn-primary" ng-click="mazeShow=!mazeShow">Cambio</button>
<div ng-show="mazeShow && localStorage.user">MAZE!!!!! esto es la polla</div>
<div ng-show="!mazeShow">no se muestra el maze... :(</div> -->

