.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 80%;
    .button{
      max-width: 70%;
    }
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

h1, h3, h4{
  text-align: center;
}

.container-maze{
  
}

.map__cell{
  display: inline-block; 
  width: 25px;
  height: 25px;
  background-color: aliceblue;
  margin: -2.52px 0;
  & > div {
  content: '.';
  }
}

.border-right{
  border-right: 1px solid black;
}

.border-left{
  border-left: 1px solid black;
}

.border-top{
  border-top: 1px solid black;
}

.border-bottom{
  border-bottom: 1px solid black;
}

.cell-visited{
  background-color: aquamarine;
}

.actions-messages-container{
  overflow-y: auto;
  max-height: 300px;
  border: 1px solid beige;

    ul{
      list-style-type: none;
    }
}