<h1>Welcome to The Maze App</h1>
<div class="row marketing">
  <div class="container center-block">
        <form class="form" name="form" ng-submit="login()" novalidate>

            <div class="form-group">
                <h4 >Choose a Maze:</h4>
                <select ng-model="user.mazeId" ng-options="mazeItem as mazeItem.Name for mazeItem in mazeList"  class="btn btn-primary btn-block dropdown-toggle center-block required "></select>
            </div>

            <div class="form-group">
                <h4>Nick</h4>
                <input type="text" name="nick" class="form-control" ng-model="user.nick" required>
            </div>

            <div class="form-group">
                <h4>Guid</h4>
                <input type="password" name="guid" class="form-control" ng-model="user.guid" required>
            </div>

            <div>
                <button class="btn btn-primary btn-login btn-lg btn-block center-block" type="submit">
                    Start
                </button>
            </div>

        </form>
    </div>
</div>